
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.clearfix::after{
    content: "";
    display: table;
    clear: both
}  
.conteiner{
    width: 65%;
    margin: 0 auto;
}

header h1{
    margin-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: #e53170;

}

#top-p{
    padding-top: 2.5rem;
    text-align: center;
    font-size: 1.1rem;
}

main{
    padding-top: 2rem;
}

.float-left{
    float: left;
}
    
div.col{
    float: left;
    width: calc( (100% / 3) - 3rem);
    margin: 3rem 1.5rem 1.5rem;
    background-color: black;
    color:white;
    border-radius: 2rem;
    padding-right: 3rem;
    
}
div.cards{
    margin-bottom: 1.3rem;
    margin-top: .5rem;
}
div.col>img{
    border-radius: 2rem;
    height: 6rem;
    margin-right: .7rem;
}
div.cards h2{
    font-size: 1.3rem;
    padding-top: .8rem;
}

