
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.clearfix::after{
    content: "";
    display: table;
    clear: both
}  
.conteiner{
    width: 60%;
    margin: 0 auto;
}

header h1{
    margin-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: #e53170;

}

#top-p{
    padding-top: 2.5rem;
    text-align: center;
    font-size: 1.1rem;
}

.section-conteiner{
    padding-top: 3rem;
}

figure img{
    
    height: 5rem;
    padding-left: 2rem;
}

figure{
    width: calc(100% / 3);
}

.fl-left{
    float: left;
}

.title{
    width: 60%;
    margin: 0 auto;  

}
figcaption{
    background-color: black;
    float: right;
    color:white;
    padding-top: 0.3rem;
    padding-right: 10rem;
    margin-right: 4rem;
}